<!DOCTYPE html>
	<html>
		<head>
			<!-- Google tag (gtag.js) -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-YWDQQ2B1ZK"></script>
			<script>
  				window.dataLayer = window.dataLayer || [];
  				function gtag(){dataLayer.push(arguments);}
  				gtag('js', new Date());

  				gtag('config', 'G-YWDQQ2B1ZK');
		</script>

			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">

		</head>
		<body>
			<nav>
	    		<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/other">Other</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		
			</footer>
		</body>
	</html>
